body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: skyblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    padding: 15px 25px; /* Adjusted padding */
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #45a049;
}

button {
    margin-top: 20px; /* Adjusted margin */
    margin-right: 20px;
}

table {
    width: 70%;
    margin: 20px auto; /* Center the table */
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid blue;
    padding: 8px;
    text-align: left;
    background-color: skyblue;
}

th {
    background-color: lightgreen;
}
